* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-bar {
  cursor: pointer;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-weight:bold;
  color: black;
  padding: 0 10px
}

.navbar-brand:hover {
  color: rgb(83, 73, 73);
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
}

.search {
  height: 40;
  width: 80%;
  border-radius: 40px;
  margin-right: -35px;
  outline: none;
  border: 2px solid #fc9c73;
}

.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  border-radius: 40px;
  background: #fc9c73;
  color: white;
  font-weight: 700;
}

.main {
  background: url(./featuredImages/header-img.jpg)no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}

.main h1 {
  font-size: 4rem;
  font-weight: 700;
  color:#ebe7e7;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.btn1 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  border-radius: 40px;
  background: #fc9c73;
  color: white;
  font-weight: 700;
}
